:root{
  --white: #ffffff;
  --black: #182339;
  --primary: #61ECBC;
}

html{
  font-size: 62.5%;
}


body{
  background-image: url('/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
}

.container{
  max-width: 60rem;
  width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
}

.app-title{
  color: var(--white);
  font-size: 3.8rem;
  margin-top: 5rem;
  line-height: 1;
}

.app-title span{
  display: block;
  color: var(--primary);
  font-size: 4.4rem;
}

.content{
  margin-top: 5rem;
  padding: 6rem 2rem;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.crypto-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f7fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  width: 40rem;
  margin: 0 auto;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

.crypto-search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.select-container {
  margin-bottom: 15px;
  width: 100%;
}

.select-label {
  font-size: 1rem;
  margin-bottom: 5px;
}

.crypto-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.crypto-select:focus {
  border-color: #007bff;
}

.crypto-input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ddd;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
  margin-bottom: 15px;
}

.crypto-input:focus {
  border-color: #007bff;
}

.crypto-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crypto-submit:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  font-size: 0.875rem;
  margin-top: 10px;
}
